@font-face {
  font-family: TheSans;
  src: url("../assets/fonts/TheSans/TheSansB_500_.woff");
  font-weight: 500; }

@font-face {
  font-family: TheSans;
  src: url("../assets/fonts/TheSans/TheSansB_800_.woff");
  font-weight: 800; }

/* landscape is default */
.a-scope-mask {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .a-scope-mask__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  .a-scope-mask.is-active {
    display: block; }
    @media (max-aspect-ratio: 1 / 1) {
      .a-scope-mask.is-active {
        display: none; } }

.a-gate__image {
  display: block;
  width: 100%; }

.a-logo__image {
  height: 3vw; }
  @media (max-aspect-ratio: 1 / 1) {
    .a-logo__image {
      height: 6vh; } }

.a-progress {
  position: relative;
  width: 100%;
  height: 0.5vh; }
  .a-progress__bar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #11aaff;
    transition: width 15s linear; }

.a-qr-code {
  width: 10vw; }
  @media (max-aspect-ratio: 1 / 1) {
    .a-qr-code {
      width: 28vw; } }
  .a-qr-code__code {
    box-sizing: border-box;
    width: 100%;
    padding: 0.5vw;
    transition: box-shadow .5s;
    border-radius: 0.5vw;
    background-color: #ffffff; }
  .a-qr-code::after {
    text-shadow: 0.1vw 0.1vw 0.15vw rgba(0, 0, 0, 0.5);
    content: 'Jetzt lesen';
    display: block;
    font-size: 1.5vw;
    text-align: center; }
    @media (max-aspect-ratio: 1 / 1) {
      .a-qr-code::after {
        font-size: 4vw; } }

@keyframes glow {
  0% {
    box-shadow: 0 0 transparent;
    transform: scale(1); }
  50% {
    box-shadow: 0 0 2vw 0.5vw #11aaff;
    transform: scale(1.05); }
  100% {
    box-shadow: 0 0 transparent;
    transform: scale(1); } }

@keyframes glow-in-portrait {
  0% {
    box-shadow: 0 0 transparent;
    transform: scale(1); }
  50% {
    box-shadow: 0 0 4vw 1vw #11aaff;
    transform: scale(1.05); }
  100% {
    box-shadow: 0 0 transparent;
    transform: scale(1); } }

.m-slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  transition: transform 1.5s; }
  .m-slide__image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden; }
    .m-slide__image img {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: transform 15s linear; }
    .m-slide__image::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.25); }
  .m-slide__info {
    position: absolute;
    bottom: 4vw;
    left: 4vw;
    right: 4vw;
    padding-right: calc(100% / 3.5); }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide__info {
        bottom: 8vw;
        left: 8vw;
        right: 8vw;
        padding-right: 0; } }
  .m-slide__code {
    margin-bottom: 2vw;
    transition: transform 1s, opacity 1s;
    transition-delay: 4.5s; }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide__code {
        margin-bottom: 4vw; } }
  .m-slide__flag {
    text-shadow: 0.1vw 0.1vw 0.15vw rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
    line-height: 120%;
    margin-bottom: 0.25vw;
    transition: transform 1s, opacity 1s;
    transition-delay: 2s; }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide__flag {
        font-size: 4vw;
        margin-bottom: 2vw; } }
  .m-slide__title {
    text-shadow: 0.1vw 0.1vw 0.15vw rgba(0, 0, 0, 0.5);
    font-size: 3vw;
    font-weight: 800;
    line-height: 120%;
    margin-bottom: -1vw;
    transition: transform 1s, opacity 1s;
    transition-delay: 1.5s; }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide__title {
        font-size: 8vw; } }
  .m-slide__progress {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0; }
  .m-slide.is-uninitialized {
    opacity: 0; }
  .m-slide.is-next {
    transform: translateX(calc(-100% - 2 * 2vw - 1px));
    visibility: hidden; }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide.is-next {
        transform: translateX(calc(-100% - 1px)); } }
    .m-slide.is-next .m-slide__flag, .m-slide.is-next .m-slide__title, .m-slide.is-next .m-slide__code {
      transform: translateY(-10vw);
      opacity: 0; }
  .m-slide.is-current {
    z-index: 1; }
    .m-slide.is-current .m-slide__image img {
      transform: scale(1.2); }
    .m-slide.is-current .a-qr-code__code {
      animation-name: glow;
      animation-duration: 1s;
      animation-delay: 5.5s; }
      @media (max-aspect-ratio: 1 / 1) {
        .m-slide.is-current .a-qr-code__code {
          animation-name: glow-in-portrait; } }
    .m-slide.is-current .a-progress__bar {
      width: 100%; }
  .m-slide.is-previous {
    transform: translateX(calc(100% + 4 * 2vw + 1px));
    z-index: 1; }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide.is-previous {
        transform: translateX(calc(100% + 1px)); } }

.m-slide--variant-2 .m-slide__info {
  padding-right: calc(100% / 2.5); }
  @media (max-aspect-ratio: 1 / 1) {
    .m-slide--variant-2 .m-slide__info {
      padding-right: 0; } }

@media (min-aspect-ratio: 1 / 1) {
  .m-slide--variant-2 .m-slide__code {
    position: absolute;
    right: 0;
    bottom: calc((100vh - 15 * 2vw) / 2);
    margin-bottom: 0; } }

@media (min-aspect-ratio: 1 / 1) {
  .m-slide--variant-2 .a-qr-code {
    width: 16vw;
    transform: translateY(50%); } }

.m-slide--variant-2 .a-qr-code::after {
  content: 'Zum Artikel'; }

.m-slide--variant-3 .m-slide__info {
  padding-right: calc(100% / 2.5); }
  @media (max-aspect-ratio: 1 / 1) {
    .m-slide--variant-3 .m-slide__info {
      padding-right: 0; } }

.m-slide--variant-3 .m-slide__code {
  display: inline-flex;
  padding-bottom: 1vw;
  background-color: #ffffff;
  color: #000000;
  border-radius: 0.5vw; }
  @media (min-aspect-ratio: 1 / 1) {
    .m-slide--variant-3 .m-slide__code {
      position: absolute;
      right: 0;
      bottom: 0;
      margin-bottom: 0; } }

.m-slide--variant-3 .a-qr-code {
  width: 12vw; }
  @media (max-aspect-ratio: 1 / 1) {
    .m-slide--variant-3 .a-qr-code {
      width: 28vw; } }
  .m-slide--variant-3 .a-qr-code::after {
    content: 'Mehr erfahren';
    font-size: 1.6vw;
    font-weight: 700;
    text-shadow: none; }
    @media (max-aspect-ratio: 1 / 1) {
      .m-slide--variant-3 .a-qr-code::after {
        font-size: 3.2vw; } }

.m-slide--variant-3.is-current .m-slide__code {
  animation-name: glow;
  animation-duration: 6s; }
  @media (max-aspect-ratio: 1 / 1) {
    .m-slide--variant-3.is-current .m-slide__code {
      animation-name: glow-in-portrait; } }

.m-slide--variant-3.is-current .a-qr-code__code {
  animation-name: none; }

.o-display {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }
  .o-display__gate {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0; }
  .o-display__logo {
    position: absolute;
    right: 8vw;
    bottom: 8vw; }
    @media (max-aspect-ratio: 1 / 1) {
      .o-display__logo {
        right: 50%;
        bottom: 6vh;
        transform: translate(50%, 50%); } }
  .o-display__frame {
    position: absolute;
    top: 8vw;
    right: 8vw;
    bottom: 12vw;
    left: 8vw; }
    @media (max-aspect-ratio: 1 / 1) {
      .o-display__frame {
        top: 0;
        right: 0;
        left: 0;
        bottom: 12vh; } }

.t-display {
  padding: 0;
  margin: 0;
  background-color: #001155;
  color: #ffffff;
  font-family: TheSans; }
