.a-qr-code {
    width: 8 * $space-vw;
    transform: translateY(50%);

    @include in-portrait {
        width: 14 * $space-vw;
        transform: none;
    }

    &__code {
        box-sizing: border-box;
        width: 100%;
        transition: box-shadow .5s;
        border-radius: .25 * $space-vw;
        background-color: $color-white;
    }

    &::after {
        @include textshadow;
        content: attr(data-content);
        display: block;
        font-size: .75 * $space-vw;
        text-align: center;

        @include in-portrait {
            font-size: 2 * $space-vw;
        }
    }

    &.is-hidden {
        display: none;
    }
}

@keyframes bump {
    0%      {transform: scale(1);}
    50%     {transform: scale(1.05);}
    100%    {transform: scale(1);}
}
