.m-slide--variant-1,
.m-slide--variant-2,
.m-slide--variant-3 {
    transition: transform 1s;

    .m-slide {
        &__image {
            img {
                transition: transform 10s linear;
            }
        }

        &__flag,
        &__title,
        &__code {
            transition: transform 1s, opacity 1s;
        }

        &__flag {
            transition-delay: .75s;
        }

        &__title {
            transition-delay: .5s;
        }

        &__code {
            transition-delay: 3.5s;
        }
    }

    &.is-next {
        transform: translateX(calc(-100% - 2 * #{$space-vw} - 1px)) scale(.8);

        @include in-portrait {
            transform: translateX(calc(-100% - 1px)) scale(.8);
        }

        .m-slide {
            &__flag,
            &__title,
            &__code {
                transform: translateY(-5 * $space-vw);
                opacity: 0;
            }
        }
    }

    &.is-current {
        .m-slide {
            &__image {
                img {
                    transform: scale(1.2);
                }
            }
        }

        .a-qr-code {
            &__code {
                animation-name: glow;
                animation-duration: 6s;

                @include in-portrait {
                    animation-name: glow-in-portrait;
                }
            }
        }
    }

    &.is-previous {
        transform: translateX(calc(100% + 2 * #{$space-vw} + 1px));

        @include in-portrait {
            transform: translateX(calc(100% + 1px));
        }
    }
}

.m-slide--variant-3 {
    &.is-current {
        .m-slide {
            &__code {
                animation-name: glow;
                animation-duration: 6s;

                @include in-portrait {
                    animation-name: glow-in-portrait;
                }
            }
        }

        .a-qr-code {
            &__code {
                animation-name: none;
            }
        }
    }
}