.m-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $color-black;
    transition: transform 1.5s;

    &__image {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: transform 15s linear;
        }
    }

    &__info {
        position: absolute;
        bottom: 2 * $space-vw;
        left: 2 * $space-vw;
        right: 2 * $space-vw;
        padding-right: calc(100% / 3.5);

        @include in-portrait {
            bottom: 4 * $space-vw;
            left: 4 * $space-vw;
            right: 4 * $space-vw;
            padding-right: 0;
        }
    }

    &__code {
        margin-bottom: $space-vw;
        transition: transform 1.25s, opacity 1.25s;
        transition-delay: 5.5s;

        @include in-portrait {
            margin-bottom: 2 * $space-vw;
        }
    }

    &__flag {
        @include textshadow;
        font-size: .75 * $space-vw;
        line-height: 120%;
        margin-bottom: .125 * $space-vw;
        transition: transform 1.25s, opacity 1.25s;
        transition-delay: 3s;

        @include in-portrait {
            font-size: 2 * $space-vw;
            margin-bottom: $space-vw;
        }
    }

    &__title {
        @include textshadow;
        font-size: 1.5 * $space-vw;
        font-weight: 800;
        line-height: 120%;
        margin-bottom: -.5 * $space-vw;
        transition: transform 1.25s, opacity 1.25s;
        transition-delay: 2s;

        @include in-portrait {
            font-size: 4 * $space-vw;
        }
    }

    &__progress {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    &.is-uninitialized {
        opacity: 0;
    }

    &.is-next {
        transform: translateX(calc(-100% - 2 * #{$space-vw} - 1px));
        visibility: hidden;

        @include in-portrait {
            transform: translateX(calc(-100% - 1px));
        }

        .m-slide {
            &__flag,
            &__title,
            &__code {
                transform: translateY(-5 * $space-vw);
                opacity: 0;
            }
        }
    }

    &.is-current {
        z-index: 1;

        .m-slide {
            &__image {
                img {
                    transform: scale(1.2);
                }
            }
        }

        .a-qr-code {
            &__code {
                animation-name: glow;
                animation-duration: 1s;
                animation-delay: 6.5s;

                @include in-portrait {
                    animation-name: glow-in-portrait;
                }
            }
        }

        .a-progress {
            &__bar {
                width: 100%;
            }
        }
    }

    &.is-previous {
        transform: translateX(calc(100% + 4 * #{$space-vw} + 1px));
        z-index: 1;

        @include in-portrait {
            transform: translateX(calc(100% + 1px));
        }
    }
}

