.m-slide--variant-3 {
    .m-slide {
        &__info {
            padding-right: calc(100% / 2.5);

            @include in-portrait {
                padding-right: 0;
            }
        }

        &__code {
            display: inline-flex;
            padding-bottom: .5 * $space-vw;
            background-color: $color-white;
            color: $color-black;
            border-radius: .25 * $space-vw;

            @include in-landscape {
                position: absolute;
                right: 0;
                bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    .a-qr-code {
        width: 6 * $space-vw;

        @include in-portrait {
            width: 14 * $space-vw;
        }

        &::after {
            content: 'Mehr erfahren';
            font-size: .8 * $space-vw;
            font-weight: 700;
            text-shadow: none;

            @include in-portrait {
                font-size: 1.6 * $space-vw;
            }
        }
    }

    &.is-current {
        .m-slide {
            &__code {
                animation-name: glow;
                animation-duration: 1s;
                animation-delay: 6.5s;

                @include in-portrait {
                    animation-name: glow-in-portrait;
                }
            }
        }

        .a-qr-code {
            &__code {
                animation-name: none;
            }
        }
    }
}