.m-slide--variant-4 {
    transition: opacity 2.5s;

    .m-slide {
        &__info {
            padding-right: calc(100% / 2.5);

            @include in-portrait {
                padding-right: 0;
            }
        }

        &__code {
            @include in-landscape {
                position: absolute;
                right: 0;
                bottom: calc((100vh - 15 * #{$space-vw}) / 2);
                margin-bottom: 0;
            }
        }
    }

    &.is-next,
    &.is-previous {
        transform: none;
        opacity: 0;
    }

    .a-qr-code {
        @include in-landscape {
            width: 8 * $space-vw;
            transform: translateY(50%);
        }

        &::after {
            content: 'Zum Artikel';
        }
    }
}