.a-qr-code {
    width: 5 * $space-vw;

    @include in-portrait {
        width: 14 * $space-vw;
    }

    &__code {
        box-sizing: border-box;
        width: 100%;
        padding: .25 * $space-vw;
        transition: box-shadow .5s;
        border-radius: .25 * $space-vw;
        background-color: $color-white;
    }

    &::after {
        @include textshadow;
        content: 'Jetzt lesen';
        display: block;
        font-size: .75 * $space-vw;
        text-align: center;

        @include in-portrait {
            font-size: 2 * $space-vw;
        }
    }
}

@keyframes glow {
    0%      {box-shadow: 0 0 transparent; transform: scale(1);}
    50%   {box-shadow: 0 0 $space-vw $space-vw / 4 $color-blue-2; transform: scale(1.05);}
    100%    {box-shadow: 0 0 transparent; transform: scale(1);}
}

@keyframes glow-in-portrait {
    0%      {box-shadow: 0 0 transparent; transform: scale(1);}
    50%   {box-shadow: 0 0 2 * $space-vw $space-vw / 2 $color-blue-2; transform: scale(1.05);}
    100%    {box-shadow: 0 0 transparent; transform: scale(1);}
}